/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

    
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

    
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
 
    
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
        p {
        font-size: 14px;
    }
    .namespace h1 {
        font-size: 42px;
    }
    .namespace h3 {
        font-size: 13px;
    }
    .content p img {
        max-width: 40%;
    }
            
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    p {
        font-size: 13px;
    }
    .brndimg {
        display: none;
    }
    .namespace h1 {
        font-size: 36px;
    }
    .namespace h3 {
        font-size: 10px;
    }
    .content p img {
        max-width: 50%;
    }
    .example {
        width: 100%;
    }    
}



/* 
    Created on : Apr 3, 2015, 5:33:09 PM
    Author     : Mark N Carpenter Jr
*/

