<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper pink darken-2  z-depth-5">
      <a href="#!" class="brand-logo"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="fa fa-bars fa-fw"></i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a
            class="tooltipped"
            data-position="bottom"
            data-delay="50"
            data-tooltip="Blog (opens in new tab)"
            href="https://blog.mncarpenter.ninja"
            target="mncjr_blog"
          >
            <i class="fa fa-book fa-2x">
              <span class="sr-only">Blog</span>
            </i>
          </a>
        </li>
        <li>
          <a
            id="resume"
            class="tooltipped"
            data-position="bottom"
            data-delay="50"
            data-tooltip="Resume"
            href="#resume"
          >
            <i class="fa fa-file-text-o fa-2x">
              <span class="sr-only">Resume</span>
            </i>
          </a>
        </li>
        <li>
          <a target="_blank">
            <i class="fa fa-envelope fa-2x"></i>
          </a>
        </li>
        <li>
          <a target="_blank">
            <i class="fa fa-phone-square fa-2x"></i>
          </a>
        </li>
        <li>
          <a
            class="tooltipped"
            data-position="bottom"
            data-delay="50"
            data-tooltip="Github (opens in new tab)"
            href="https://www.github.com/mcarpenterjr"
            target="mncjr_github"
          >
            <i class="fa fa-github fa-2x"></i>
          </a>
        </li>
        <li>
          <a
            class="tooltipped"
            data-position="bottom"
            data-delay="50"
            data-tooltip="Linkedin (opens in new tab)"
            href="https://www.linkedin.com/in/mcarpenterjr/"
            target="mncjr_linkedin"
          >
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
        </li>
        <li>
          <a
            class="tooltipped"
            data-position="bottom"
            data-delay="50"
            data-tooltip="Twitter (opens in new tab)"
            href="https://twitter.com/BeardySmeardy"
            target="mncjr_twitter"
          >
            <i class="fa fa-twitter-square fa-2x"></i>
          </a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <a
            class="tooltipped"
            data-position="bottom"
            data-delay="50"
            data-tooltip="Blog (opens in new tab)"
            href="https://blog.mncarpenter.ninja"
            target="mncjr_blog"
          >
            <i class="fa fa-book fa-2x">
              <span class="sr-only">Blog</span>
            </i>
          </a>
        </li>
        <li>
          <a
            id="resume"
            class="tooltipped"
            data-position="bottom"
            data-delay="50"
            data-tooltip="Resume"
            href="#resume"
          >
            <i class="fa fa-file-text-o fa-2x">
              <span class="sr-only">Resume</span>
            </i>
          </a>
        </li>
        <li>
          <a target="_blank">
            <i class="fa fa-envelope fa-2x"></i>
          </a>
        </li>
        <li>
          <a target="_blank">
            <i class="fa fa-phone-square fa-2x"></i>
          </a>
        </li>
        <li>
          <a
            class="tooltipped"
            data-position="bottom"
            data-delay="50"
            data-tooltip="Github (opens in new tab)"
            href="https://www.github.com/mcarpenterjr"
            target="mncjr_github"
          >
            <i class="fa fa-github fa-2x"></i>
          </a>
        </li>
        <li>
          <a
            class="tooltipped"
            data-position="bottom"
            data-delay="50"
            data-tooltip="Linkedin (opens in new tab)"
            href="https://www.linkedin.com/in/mcarpenterjr/"
            target="mncjr_linkedin"
          >
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
        </li>
        <li>
          <a
            class="tooltipped"
            data-position="bottom"
            data-delay="50"
            data-tooltip="Twitter (opens in new tab)"
            href="https://twitter.com/BeardySmeardy"
            target="mncjr_twitter"
          >
            <i class="fa fa-twitter-square fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>