<div class="container">
  <div class="section">
      <div class="row">
          <div class="col s12">
              <div class="card-panel lime accent-4 z-depth-2">
                  <div class="row valign-wrapper">
                      <div class="col m2">
                          <!-- <img class="circle responsive-img z-depth-2 hide-on-small-only" data-bind="attr: { src: bio.bioPic }" src="" alt="Mark N Carpenter Jr"> -->
                      </div>
                      <div class="col s12 m10">
                          <!-- <h3 data-bind="text: bio.name"></h3> -->
                          <!-- <h5 data-bind="text: bio.role"></h5> -->
                          <div class="divider blue-grey darken-4"></div>
                          <p data-bind="text: welcomeMessage"></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col s12">
              <div class="card-panel lime accent-4 z-depth-2">
                  <h4>Skills</h4>
                  <div class="divider blue-grey darken-4"></div>
                  <h5 class="center-align" data-bind="foreach: skills">
                    <span data-bind="visible: $index() > 0">, </span>
                    <span data-bind="text: $data"></span>
                  </h5>
              </div>
          </div>
      </div>
  </div>
  <div class="section">
    <div class="row">
      <ul data-collapsible="accordion" data-bind="visible: work.jobs().length, foreach: work.jobs">
        <li>
          <div class="col s12">
            <div class="card-panel lime accent-4">
              <span>
                <h5 data-bind="text: $data.employer"></h5>
              </span>
              <div class="divider blue-grey darken-5"></div>
              <div class="row">
                <div class="col s4">
                  <h6 class="center-align" data-bind="text: $data.title"></h6>
                </div>
                <div class="col s4">
                  <h6 class="center-align" data-bind="text: $data.dates"></h6>
                </div>
                <div class="col s4">
                  <h6 class="center-align" data-bind="text: $data.location"></h6>
                </div>
              </div>
              <div class="row">
                <div class="col s12 m6">
                  <div class="card blue-grey">
                    <div class="card-content white-text">
                      <span class="card-title">Position</span>
                      <p data-bind="text: $data.description"></p>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6">
                  <div class="card blue-grey">
                    <div class="card-content white-text">
                      <span class="card-title">Responsibilities</span>
                      <ul class="collection" data-bind="foreach: $data.duties">
                        <li class="collection-item blue-grey darken-2" data-bind="text: $data"></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="section">
    <div class="divider"></div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card-panel lime accent-4">
          <span><h5>Education</h5></span>
          <ul class="collapsible popout" data-collapsible="accordion" data-bind="visible: education.schools().length > 0, foreach: education.schools">
            <li class="z-depth-2">
                <div class="collapsible-header blue-grey darken-2">
                  <h5 class="white-text" data-bind="text: $data.title"></h5>
                </div>
                <div class="collapsible-body blue-grey">
                  <div class="row white-text">
                    <div class="col s4">
                      <h6 class="center-align" data-bind="text: $data.degree"></h6>
                    </div>
                    <div class="col s4">
                      <h6 class="center-align" data-bind="text: $data.dates"></h6>
                    </div>
                    <div class="col s4">
                      <h6 class="center-align" data-bind="text: $data.location"></h6>
                    </div>
                  </div>
                  <div class="row white-text">
                    <div class="col s12 center-align">
                      <a data-bind="attr: { href: $data.url }" target="_blank" class="white-text">
                        <i class="fa fa-graduation-cap fa-fw" aria-hidden="true"></i>
                        <span data-bind="text: $data.name"></span>
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <ul class="collection" data-bind="foreach: $data.major">
                      <li class="collection-item center-align indigo lighten-2">
                        <span class="white-text" data-bind="text: $data"></span>
                      </li>
                    </ul>
                  </div>
                </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card-panel lime accent-4" data-bind="visible: education.onlineCourses().length > 0">
          <h5>Dedicated Courses</h5>
          <ul class="collapsible popout" data-collapsible="accordion" data-bind="foreach: education.onlineCourses">
            <li class="z-depth-2">
              <div class="collapsible-header blue-grey darken-2">
                <h5 class="white-text" data-bind="text: $data.title"></h5>
              </div>
              <div class="collapsible-body blue-grey">
                <div class="row white-text">
                  <div class="col s4">
                    <h6 class="center-align" data-bind="text: $data.school"></h6>
                  </div>
                  <div class="col s4">
                    <h6 class="center-align" data-bind="text: $data.dates"></h6>
                  </div>
                  <div class="col s4">
                    <a data-bind="attr: { href: $data.url }" target="_blank" class="white-text">
                      <i class="fa fa-graduation-cap fa-fw" aria-hidden="true"></i>
                      <span data-bind="text: $data.title"></span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
      <div class="row">
        <div class="card-panel lime accent-4" data-bind="visible: projects.projects().length > 0">
          <h5>Personal Projects</h5>
        </div>
          <ul data-bind="foreach: projects.projects">
              <li class="col s12 m6">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" data-bind="attr: { src: $data.image }">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4" data-bind="text: $data.title"><i class="material-icons right">more_vert</i></span></br>
                          <span class="left"><a data-bind="attr: { href: $data.url }" target="_blank">Live Version</a></span>
                          <span class="right"><a data-bind="visible: $data.gitRepo, attr: { href: $data.gitRepo }" target="_blank"><i class="fa fa-github"></i> Repository</a></span>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4" data-bind="text: $data.title"><i class="material-icons right">close</i></span>
                          <p data-bind="text: $data.description"></p>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</div>